.home {
    flex-grow: 1; /* This makes it take all available width */
    background: linear-gradient(to bottom, #1f1f1f, #121212 300px);
    overflow-y: auto; /* Enables scrolling ONLY for the home content */
    height: 100%;
}

.content {
    padding: 16px 32px;
}

.headerTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.headerTitle h2 {
    color: #fff;
    font-size: 24px;
}

.headerTitle a {
    color: #b3b3b3;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
}
.headerTitle a:hover {
    text-decoration: underline;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 24px;
}

.artistCard {
    background-color: #181818;
    padding: 16px;
    border-radius: 8px;
    text-align: left;
    cursor: pointer;
    transition: background-color 0.3s;
}

.artistCard:hover {
    background-color: #282828;
}

.artistCard img {
    width: 100%;
    border-radius: 50%;
    margin-bottom: 16px;
    box-shadow: 0 8px 24px rgba(0,0,0,0.5);
}

.artistCard h4 {
    color: #fff;
    margin: 0 0 4px 0;
    font-size: 16px;
}

.artistCard p {
    color: #b3b3b3;
    font-size: 14px;
    margin: 0;
}